.interface {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.grid-container {
    display: grid;
    grid-template-areas: repeat(10, 1fr);
    width: 700px;
    height: 700px;
    padding: none;
    margin: none;
    background-color: black;
    padding: 1px;
    aspect-ratio: 1;
}

.cell {
    box-sizing: border-box;
    background-color: white;
    transition: background-color 0.6s;
    aspect-ratio: 1;
    margin: 1px;
}